.news {
    margin-bottom: 0%;
}
.image-container {
    margin-top: 10%;
    width: 150%;
    margin-left: -25%;
}

.embed {
    display: flex;
    gap: "2px";
}

@media screen and (min-width:375px) and (max-width:653px){
    .embed {
        display: grid;
    }
}
