@font-face {
  font-family: "HyliaSerif";
  src: url("../../assets/fonts/HyliaSerifBeta-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


.home-page {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.video-background {
  margin-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
}

.menu-grid {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: grid;
  grid-template-columns: 1.2fr 2fr 1.2fr;
  grid-template-rows: 650px 650px;
  gap: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "HyliaSerif", serif !important;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 300%;
  color: white;
  padding: 20px;
  text-decoration: none;
  border: 5px solid black;
  box-shadow: inset 0px 0px 70px rgb(0, 0, 0);
  -webkit-text-stroke: 1px black;
  border-radius: 12px;
  transition: 0.3s ease;
  opacity: 0.80;
  position: relative;
  overflow: hidden; 
}

.menu-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.35; /* translúcida */
  filter: saturate(0.7);
  transition: 0.35s ease;
  z-index: -1; /* detrás del texto */
}

.menu-item:hover::before {
  opacity: 1;
  transform: scale(1.12);
  box-shadow: inset 0 0 70px rgb(0, 0, 0);
  filter: none;
}

/* Hover: quita el color del rectángulo */
.menu-item:hover {
  background: rgba(0, 0, 0, 0) !important;
  transform: scale(1.03);
}

.videos {
  background: rgba(255, 0, 0, 0.2);
  grid-column: 2 / 3;
  grid-row: 1;
  height: 100%;
}


.left-column {
  grid-column: 1 / 2; /* Ahora ocupa la columna izquierda */
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.left-column .small:first-child {
  background: rgba(0, 255, 0, 0.2);
  height: 90%;
}

.left-column .small:last-child {
  margin-top: 4%;
  background: rgba(255, 255, 0, 0.2);
  height: 90%;
}

/* RIGHT COLUMN → WIKI */
.right-column .wiki {
  background: rgba(0, 0, 255, 0.2);
  height: 100%;
}

.right-column {
  grid-column: 3 / 4; /* Ahora ocupa la columna derecha */
  grid-row: 1;
}

.bottom.left {
  margin-top: 6%;
  background: rgba(128, 128, 128, 0.2);
  grid-column: 1 / 2;
  height: 40%;
  width: 180%;
}

.bottom.right {
  
  background: rgba(128, 0, 128, 0.2);
  grid-column: 2 / 4;
  height: 40%;
  width: 65%;
  margin-left: 32%;
  margin-top: 2.3%;
}


.img-videos::before {
  background-image: url("../../assets/images/preview/DMBP5.png");
}

.img-canales::before {
  background-image: url("../../assets/images/thumbnails/ENTRET.png");
}

.img-noticias::before {
  background-image: url("../../assets/images/preview/PDP6.png");
}

.img-wiki::before {
  background-image: url("../../assets/images/preview/WIKI.png");
}

.img-construccion::before {
  background-image: url("../../assets/images/preview/DMBP8E.png");
}

.img-redes::before {
  background-image: url("../../assets/images/preview/LBP3.png");
}

.img-redes::after {
  background-image: url("../../assets/images/preview/LBP3.png");
}

@media screen and (max-width:1300px){
  .menu-grid {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1.5fr 1.2fr;
    grid-template-rows: 350px 350px;
    gap: 0px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "HyliaSerif", serif !important;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-size: 140%;
    color: white;
    padding: 0px;
    border: 5px solid black;
    box-shadow: inset 0px 0px 70px rgb(0, 0, 0);
    -webkit-text-stroke: 1px black;
    border-radius: 12px;
    transition: 0.3s ease;
    opacity: 0.80;
    position: relative;
    overflow: hidden; 
  }

  .left-column .small:first-child {
  background: rgba(0, 255, 0, 0.2);
  height: 110%;
}

.left-column .small:last-child {
  margin-top: 1%;
  background: rgba(255, 255, 0, 0.2);
  height: 100%;
}

.bottom.left {
  margin-top: 6%;
  background: rgba(128, 128, 128, 0.2);
  grid-column: 1 / 2;
  height: 60%;
  width: 170%;
}

.bottom.right {
  
  background: rgba(128, 0, 128, 0.2);
  grid-column: 2 / 4;
  height: 60%;
  width: 65%;
  margin-left: 32%;
  margin-top: 2.3%;
}
}
